body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    overflow: hidden; /* Prevents scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#board {
    background-image: url("./flappybirdbg.png");
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Ensures the background scales properly */
}
